body{
    background-color:white; 
    display: border-box;

}
/* HEADER */
header {
    display: flex;
    align-items: center;
    height:64px;
}
.header--logo 
{
    color:grey;
}

.header--img
{
    height: 40px;
    margin-left: 24px;
}

.header--spec-container {
    margin-left: auto;
    display: flex;
    gap: 16px; /* Add spacing between the h2 elements if needed */
    margin-right:16px;
    color:dimgrey;
    font-weight:normal;
    font-family:arial;
}

/* CONTAINER ONE */

.container--one
{
    height:700px;
    width:100%;
    display:flex;
    justify-content: flex-start;
    background-color:lightgrey;
    align-items:center;
    
}
.container-one-info
{
    position: relative;
    margin-left:24px;
    flex-direction: column; /* Stack children vertically */

}
.container-one-info h1
{
    font-size:3.4em;
    color:grey;
   
    
}

.container-one-info p
{
    font-size:1.75rem;
    font-weight:bold;
    color:grey;
   
}
.start-box
{
    display:flex;
    height: 54px;
    width: 350px;
    background-color:grey;
    align-items:center;
    justify-content: center;
    margin-top:3.25rem;
}
.start-box p
{
    color:white;
    font-weight:normal;
}

.container--one-img  {
    max-width: 60%; /* Ensure image doesn’t exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
    padding: 32px 24px;

}

/* CONTAINER-TWO */
.container-two
{
    height:700px;
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    background-color:#fff;
}
.container-two-right img
{
   display:flex;
   flex-direction:column;
   width:40%;
   height:100%;
   
}
.container-two-right
{
   position:relative;
   width:40%;
   display:border-box;

  
}

.container-two-right img
{

    width:175px;
    padding:16px;
    
}
.container-infoR
{
    
    display:flex;
    flex-direction:row;
    gap:30px;
    width:100%;
    height:auto;

}
.container-infoR-img
{
    width:30%;
}
.info
{
    display:flex;
    flex-direction:column;
    margin-top:60px;
    gap:10px;
}
.info h2
{
    font-size:24px;
    font-weight:bold; 

}
.info p
{
    font-size:16px;
}


.container-two-left 
{
    display: flex;
    flex-direction: column;
    width:70%;
    height: auto; /* Maintain aspect ratio */
    justify-content:left;
    margin: 32px 24px 32px 24px;



}
.container-two-left img
{
    display:flex;
    justify-content:left;
    height: auto; /* Maintain aspect ratio */
    width:97.8%;
}
 .container-content  {
    display: flex;
    flex-direction: column;
    text-align: center; /* Center text within the children */
    gap:15px;
}
.container-content h5 
{
    text-align:left;
    padding-left:7px;
    padding-top:5px;
}

/* Need to understand gap vs padding */